html,
body {
    width: 200px;
}
.hidden {
    display: none;
}

button {
    border: none;
    width: 100%;
    margin: 3% auto;
    padding: 4px;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
    background-color: #e5f2f2;
}